<h2>タスク詳細</h2>
<p>タスク名：<%= @task.task_name %></p>
<p>タスク詳細：<%= @task.detail %></p>
<p>終了期限：<%= @task.deadline %></p>
<p>進捗：
  <%= '未着手' if @task.status == 1 %>
  <%= '着手中' if @task.status == 2 %>
  <%= '完了' if @task.status == 3 %>
</p>
<p>優先順位：
  <%= '' if @task.priority == 0 %>
  <%= '低' if @task.priority == 1 %>
  <%= '中' if @task.priority == 2 %>
  <%= '高' if @task.priority == 3 %>
</p>
<p>タスク作成者：<%= @task.user.name %></p>
<p>ラベル：
  <% @task.labels.each do |label| %>
    <%= label.label_name%><a>、</a>
  <% end %>
</p>
<%= link_to 'edit', edit_task_path(@task.id), class: 'btn btn-primary' %> |
<%= link_to 'task一覧', tasks_path, class: 'btn btn-primary' %>
