<h1>Sign up</h1>
<%= form_with(model: @user, local: true) do |f| %>
  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="email">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="password">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="password_confirmation">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit %>
<% end %>
