<h1><%= @user.name %>のページ</h1>
<p>メールアドレス：<%= @user.email%></p>
<p>Admin権限：<%= @user.admin%></p>
<%= link_to '編集', edit_admin_user_path(@user.id), class: 'btn btn-primary' %>
<%= link_to 'ユーザー一覧', admin_users_path, class: 'btn btn-primary' %>

<table border="0" CELLPADDING=5 CELLSPACING=2 style='border-collapse: separate; border-spacing: 5px;'>
  <tr>
    <th><%= I18n.t('views.title.task_id') %></th>
    <th><%= I18n.t('views.title.task_name') %></th>
    <th><%= I18n.t('views.title.detail') %></th>
    <th><%= I18n.t('views.title.deadline') %></th>
    <th><%= I18n.t('views.title.status') %></th>
    <th><%= I18n.t('views.title.priority') %></th>
    <th><%= I18n.t('views.title.user') %></th>
  </tr>
  <% @user.tasks.each do |task| %>
  <tr class="task_row">
    <td><%= task.id %></td>
    <td><%= task.task_name %></td>
    <td><%= task.detail %></td>
    <td><%= task.deadline %></td>
    <td>
      <%= '未着手' if task.status == 1 %>
      <%= '着手中' if task.status == 2 %>
      <%= '完了' if task.status == 3 %>
    </td>
    <td>
      <%= '' if task.priority == 0 %>
      <%= '低' if task.priority == 1 %>
      <%= '中' if task.priority == 2 %>
      <%= '高' if task.priority == 3 %>
    </td>
    <td><%= task.user.name %></td>
  </tr>
  <% end %>
</table>
